
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Monaco', sans-serif;
}

body{
   background-color: cyan;
}

h1{
    color: hotpink;
}
#pfpimg{
    width: 100%;
    height:50%;
}

#toptexttext{
    text-align: center;
    padding: 1%;

}
#thismywebsite{
    text-align: center;
    padding: 1%;

}